<div class="organizers and speakers">
    <head>
        <style>
        table, th, td {
          border: 1px solid yellowgreen;
          border-collapse: collapse;
        }
        </style>
    </head>        

    <h2>organizers and speakers</h2>
    <table>
    <tr>
        <th> Name </th>
        <th> Interests </th>
        <th> Reference </th>
    </tr>
    <tr>
      <td class="name"><a href="https://yaxy-jasmine.github.io/">Yaxin(Jasmine) Zheng  </a></td>
      <td class="Introduction">writing. </td>
      <td><a href="https://yaxy-jasmine.github.io/">https://yaxy-jasmine.github.io </a></td>
    </tr>
    <tr>
      <td class="name"><a href="https://workshop-academy.github.io/">Brian Yu </a></td>
      <td class="Introduction">writing. </td>
      <td><a href="https://workshop-academy.github.io/">https://workshop-academy.github.io </a></td>
    </tr>
    <tr>
      <td class="name"><a href="https://workshop-academy.github.io/">Lisa Fan </a></td>
      <td class="Introduction">writing. </td>
      <td><a href="https://workshop-academy.github.io/">https://workshop-academy.github.io </a></td>
    </tr>
    <tr>
      <td class="name"><a href="https://workshop-academy.github.io/">Joy Zhu </a></td>
      <td class="Introduction">writing. </td>
      <td><a href="https://workshop-academy.github.io/">https://workshop-academy.github.io </a></td>
    </tr>
    <tr>
      <td class="name"><a href="https://workshop-academy.github.io/">workshop-academy  </a></td>
      <td class="Introduction">A group of Geniuses. </td>
      <td><a href="https://workshop-academy.github.io/">https://workshop-academy.github.io </a></td>
    </tr>
    </table>
</div>