<div class="organizers">
    <head>
        <style>
        table, th, td {
          border: 1px solid yellowgreen;
          border-collapse: collapse;
        }
        </style>
    </head>        

    <h2>Organizers</h2>
    <table>
    <tr>
        <th> Name </th>
        <th> Interests </th>
        <th> Reference </th>
    </tr>
    <tr>
      <td class="name"><a href="https://yaxy-jasmine.github.io/">Yaxy Jasmine Zheng  </a></td>
      <td class="Introduction">Writing, piano, drawing, dancing, volunteering. </td>
      <td><a href="https://yaxy-jasmine.github.io/">yaxy-jasmine.github.io </a></td>
    </tr>
    <tr>
      <td class="name"><a href="https://workshop-academy.github.io/">workshop-academy  </a></td>
      <td class="Introduction">A group of Geniuses. </td>
      <td><a href="https://workshop-academy.github.io/">workshop-academy.github.io </a></td>
    </tr>
    </table>
</div>